<% include ./header.ejs %>
<link rel="stylesheet" href="<%- serve.staticPath %>/css/about.css">
   <section class="img-text">
       <h2 class="title">持续性技术创新</h2>
       <span class="bl-text-sign"></span>
      <p class="desc">宝乐拥有国内领先的技术研发团队，累计共申请300余项国内外专利，目前已获得140多项授权专利，授权专利遍布全球，包括美国、欧盟、中国以及中国台湾地区。</p>
      <div class="img-wrap">
         <img src="<%- serve.staticPath %>/img/about-1.png" alt="宝乐持续性技术创新">
      </div>
   </section>
<section class="img-text">
  <h2 class="title">高标通过多项全球认证</h2>
  <span class="bl-text-sign"></span>
  <p class="desc">通过多年的努力，公司高标准通过了ISO9001国际质量体系认证、ISO14000环境管理体系认证、ISO45001职业健康安全管理体系认证、知识产权管理体系认证，同时高分通过了欧美BSCI（商业社会标准）验厂，获得CCC、CB、GS、UL&CUL、CE、RoHS、RECAH、PSE等国内外相关认证和资源。</p>
  <div class="img-wrap border">
    <img src="<%- serve.staticPath %>/img/about-2.png" alt="高标通过多项全球认证">
  </div>
</section>
<section class="img-text">
  <h2 class="title">智能生活方式引领者</h2>
  <span class="bl-text-sign"></span>
  <p class="desc">16年来，宝乐始终秉承“超越客户期待”的服务理念，持续进行清洁服务机器人的技术迭代创新，为全球客户和用户创造更多价值。</p>
  <div class="img-wrap">
    <img src="<%- serve.staticPath %>/img/about-3.png" alt="宝乐服务理念">
  </div>
</section>
<section class="map">
  <h2 class="title">全球扩张业务版图</h2>
  <p class="desc">经过十余年高速发展，已成为以清洁服务机器人为主营业务，产品已覆盖家用扫地机器人、商用扫地机器人、擦窗机器人等，产品出口至全球40多个国家，ODM全球出口销量稳居前列。</p>
  <ul class="msg">
    <li>
      <span>15</span>
      <p>年专注研发</p>
    </li>
    <li>
      <span>45+</span>
      <p>国家和地区</p>
    </li>
    <li>
      <span>60+</span>
      <p>合作品牌</p>
    </li>
    <li>
      <span class="bl-fontsize16">1000万+</span>
      <p>用户信赖</p>
    </li>
  </ul>
</section>
<section class="history-stage">
  <h2 class="title">发展历程</h2>
  <div class="history-main">
    <ul class="year-axis">
    </ul>
    <div class="stage-con">
      <div>
        <div class="stage-img">
          <img src="<%- serve.staticPath %>/img/history/2019_0.jpg" alt="宝乐历程">
        </div>
        <div class="stage-text">
          <strong class="stage-year">2019</strong>
          <ul class="stage-desc">
            <li>荣获中国国家高新技术企业证书 通过ISO9001国际质量体系认证</li>
          </ul>
        </div>
      </div>

      <div class="next">
        <div class="arrow">
          <img src="<%- serve.staticPath %>/img/about-5.png" alt="宝乐历程">
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  var historyStage = {
    "2004": [{
      "text": "宝乐进入智能机器人行业，率先进军智能清洁领域。"
    },

    ],
    "2008": [{
      "text": "宝乐为国内外多个著名品牌提供从产品创意到图纸设计，手板打样到规模化量产的全生态链服务。"
    },
      {
        "text": "宝乐第一代扫地机器人诞生。"
      }
    ],
    "2009": [{
      "text": "产品出口至海外市场。"
    }],
    "2012": [{
      "text": "推出吸扫拖一体扫地机器人。"
    },

    ],
    "2013": [{
      "text": "宝乐推出自有品牌罗弗尔，以电商渠道销售为主。"
    }],
    "2015": [{
      "text": "宝乐推出自有品牌科语，线上入驻天猫、京东、唯品会、贝店等国内主流电商渠道，线下布局苏宁、沃尔玛、永旺等超过400个商超点。"
    }],
    "2016": [

      {
        "text": "推出陀螺仪导航扫地机器人。"
      },
      {
        "text": "宝乐获得国家高新技术企业资质。"
      },
      {
        "text": "宝乐第一代擦窗机器人诞生。"
      }
    ],
    "2017": [{
      "text": "宝乐自主研发APP上线。"
    },
      {
        "text": "宝乐在广州开设分厂，总产能扩大到每年300万台。"
      }
    ],
    "2018": [{
      "text": "推出视觉导航扫地机器人。"
    },
      {
        "text": "专为扫地机器人量身定制的FLEX蜂鸟™马达正式投产。"
      },
      {
        "text": "推出首款激光镭射扫地机器人。"
      },
      {
        "text": "宝乐着手建设20万㎡工业园，总产能将达到每年1000万台。"
      }
    ],
    "2019": [{
      "text": "在国际消费类电子产品展览会（CES）发布首款激光雷达+AI摄像头联动导航扫地机器人。"
    }]
  };
  $(function () {
    let axisHtml = ``;
    var yearLen = [];
    for (let key in historyStage) {
      yearLen.push(key);
    }
    yearLen.sort((a,b)=>b-a);
    yearLen.forEach(function (year,i) {
      axisHtml+=`<li class="${i===0?'active':''}">${year}</li>`;
    });
    $(".history-stage .year-axis").html(axisHtml);
    activeYear()
    function activeYear() {
      var year = $(".year-axis").find(".active").text();
      $(".stage-text .stage-year").text(year);
      var text = historyStage[year];

      var desc = ``;
      text.forEach(function (item,i) {
        desc+=`<li class="${i===0?'bl-color-_333':''}">${item.text}</li>`
      });
      $(".stage-text .stage-desc").html(desc);
      var imgHtml = `<img src="<%- serve.staticPath %>/img/history/${year}_0.jpg" alt="宝乐历程">`
      $(".stage-img").html(imgHtml);
    }
    $(".stage-text .stage-desc").on("click","li",function () {
      $(this).addClass("bl-color-_333").siblings().removeClass("bl-color-_333");
      var index = $(this).index();
      var year = $(".year-axis").find(".active").text();
      var imgHtml = `<img src="<%- serve.staticPath %>/img/history/${year}_${index}.jpg" alt="宝乐历程">`
      $(".stage-img").html(imgHtml);
    });
    $(".year-axis").on("click","li",function () {
      $(this).addClass("active").siblings().removeClass("active");
      activeYear();
    });
    $(".stage-con .arrow").on("click",function () {
      var index = $(".year-axis").find(".active").index();
      index+=1;
      if (index>=yearLen.length) index=0;
      $(".year-axis").children().eq(index).addClass("active").siblings().removeClass("active")
      activeYear();
    });

  });
</script>
<% include ./footer.ejs %>
