<% include ./header.ejs %>
<link rel="stylesheet" href="<%- serve.staticPath %>/css/about.css">
<section class="img-text">
  <h2 class="title">
    <p>宝乐使命</p>
    <p>“释放所有人的创造力”</p>
  </h2>
  <span class="bl-text-sign"></span>
  <p class="desc">宝乐将不断钻研人工智能领域的技术，实现把人类从长时间投入、低价值产出的琐碎劳务中解放出来。由此节约而来的时间，人类可用于更具创造力的活动中，从而高效地推动社会文明多元化发展，即“释放所有人的创造力”。</p>
  <div class="img-wrap border">
    <img src="<%- serve.staticPath %>/img/culture-1.png" alt="宝乐使命">
  </div>
</section>
<section class="img-text">
  <h2 class="title">
    <p>宝乐愿景</p>
    <p>“成为智能生活方式的引领者”</p>
  </h2>
  <span class="bl-text-sign"></span>
  <p class="desc">宝乐以扫地机器人作为行业入口和支点，坚定地走“从家庭到商用、从室内到室外、从低速到高速、从高频到低频”逐步演进的战略路线，不断创造智能生活新方式，最终成为智能生活方式的引领者。</p>
  <div class="img-wrap ">
    <img src="<%- serve.staticPath %>/img/culture-2.png" alt="宝乐愿景">
  </div>
</section>
<section class="img-text">
  <h2 class="bl-text-center"><i class="icon-1 bl-mr8"></i>核心价值观</h2>
  <p class="desc center" >核心价值观是全体宝乐人必须共同信奉的信仰和始终坚守的价值</p>
  <div class="img-wrap-inbox gy bl-mt25">
    <span class="bl-text-sign"></span>
    <strong class="bl-fontsize16 bl-mt15 bl-mb6">利他共赢</strong>
    <p class="bl-fontsize13">崇尚利他主义，谋求全面共赢</p>
  </div>
  <div class="img-wrap-inbox bc bl-mt15 bl-fx-ai-end">
    <span class="bl-text-sign"></span>
    <strong class="bl-fontsize16 bl-mt15 bl-mb6 bl-color-_000">海纳百川</strong>
    <p class="bl-fontsize13 bl-color-_666">海纳百川是强者的气度与风范</p>
  </div>
  <div class="img-wrap-inbox zq bl-mt15">
    <span class="bl-text-sign"></span>
    <strong class="bl-fontsize16 bl-mt15 bl-mb6">极致追求</strong>
    <p class="bl-fontsize13">一切杰作源于对细节的极致追求</p>
  </div>
</section>

<section class="culture-ln">
  <h2 class="title">发展理念</h2>
  <ul class="ln-list">
    <li>
      <strong>客户理念</strong>
      <p>超越客户期待</p>
    </li>
    <li>
      <strong>产品理念</strong>
      <p>坚持以需求为导向的正向研发，为客户创造有效价值</p>
    </li>
    <li>
      <strong>人才理念</strong>
      <p>和一群有追求的人，做有价值的事业，让有付出的人有回报</p>
    </li>
  </ul>
</section>
<section class="culture-slogan">
  <div class="slogan-item">
    <div class="img-wrap">
      <img src="<%- serve.staticPath %>/img/culture-7.png" alt="宝乐企业精神">
    </div>
    <h2 class="title">企业精神</h2>
    <p class="desc">奋斗、坚强、合作、包容</p>
  </div>
  <div class="slogan-item">
    <div  class="img-wrap">
      <img src="<%- serve.staticPath %>/img/culture-8.png" alt="宝乐企业口号">
    </div>
    <h2 class="title">企业口号</h2>
    <p class="desc">之所以能，是相信能</p>
  </div>
</section>

<% include ./footer.ejs %>
