<% include ./header.ejs %>
<link rel="stylesheet" href="<%- serve.staticPath %>/css/contact.css">
<div id="banner">
</div>
<div class="main">
    <div class="main-wrap recruit-container">
        <p class="title">在这里你将获得</p>
        <div class="recruit-msg">
            <ul class="bl-fl">
                <li>年轻朝气的同事和团队</li>
                <li>快速清晰的职业发展</li>
                <li>具有竞争力的薪酬福利</li>
                <li>入职即享有五险一金</li>
            </ul>
            <ul class="bl-fl" style="border-right: none">
                <li>透明高效的沟通风格</li>
                <li>完善全面的培训体制</li>
                <li>带薪年假让你劳逸结合</li>
            </ul>
        </div>
        <p class="title-name"></p>
        <div class="position">
            <ul class="position-list">
            </ul>
        </div>
        <div class="footer-img">
            <img src="<%- serve.staticPath %>/img/contact-banner5.png" class="ban" alt="">
            <img src="<%- serve.staticPath %>/img/contact-banner8.png" class="slogan" alt="">
            <p class="bl-text-center bl-color-_999 bl-mt12">加入宝乐</p>
        </div>
    </div>
</div>
<script type="text/javascript" src="<%- serve.staticPath %>/js/util/tool.js"></script>
<script type="text/javascript" src="<%- serve.staticPath %>/js/recruit.js"></script>
<% include ./footer.ejs %>