<% include ./header.ejs %>
<link rel="stylesheet" href="<%- serve.staticPath %>/css/skill.css">
<div class="main">
    <div class="skill-container">
        <div class="skill-video">
            <img class="video-img" src="<%- serve.staticPath %>/img/index-play.png" alt="">
            <video id="video" autoplay="autoplay" controls="controls" loop="loop" muted webkit-playsinline="true" playsinline="true" x-webkit-airplay="allow" x5-video-player-type="h5" x5-video-player-fullscreen="true" x5-video-orientation="portraint" style="object-fit:fill">
                <source src="http://cdn-robotbona.robotbona.com/video/videoEn.mp4" type="video/mp4" />
            </video>
        </div>
        <div class="section cx">
            <div class="main-wrap">
                <div class="title">持续性技术创新</div>
                <div class="text">授权专利遍布全球，释放所有人的创造力</div>
                <ul class="patent-list">
                    <li class="border-r">
                        <div class="patent-item-wrap">
                            <div class="bl-color-red"><strong>370</strong>+</div>
                            <p>项专利已申请</p>
                        </div>
                    </li>
                    <li>
                        <div class="patent-item-wrap">
                            <div class="bl-color-red"><strong>140</strong>+</div>
                            <p>项专利已获授权</p>
                        </div>
                    </li>
                </ul>
                <p class="patent-desc" style="margin-top: 50px;">授权专利包括2项美国专利、3项欧盟专利、22项中国发明专利以及4项中国台湾地区专利</p>
            </div>
        </div>
        <div class="section kj">
            <div class="main-wrap skill-section section-cen">
                <div class="skill-section-wrap">
                    <h4 class="skill-section-title bl-mb12">易用的机器，处处是科技</h4>
                    <p class="skill-section-text">
                        宝乐自主研发的机器人导航科技，结合了最新的人工智能技术、视觉识别和环境感知能力的发展， 极大地提升机器人扫绘建图方面的能力，为用户提供更智能的家庭清洁方案。
                    </p>
                    <ul class="icon-list">
                        <li>
                            <img src="<%- serve.staticPath %>/img/skill-yanfa-icon1.png">
                            <p>视觉纠偏技术</p>
                        </li>
                        <li>
                            <img src="<%- serve.staticPath %>/img/skill-yanfa-icon2.png">
                            <p>路径规划技术</p>
                        </li>
                        <li>
                            <img src="<%- serve.staticPath %>/img/skill-yanfa-icon3.png">
                            <p>水箱及相关技术</p>
                        </li>
                        <li>
                            <img src="<%- serve.staticPath %>/img/skill-yanfa-icon4.png">
                            <p>安全保护装置</p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="section sx">
            <div class="main-wrap skill-section section-left">
                <div class="skill-section-wrap">
                    <h4 class="skill-section-title">水箱及相关技术</h4>
                    <p class="red-line"></p>
                    <p class="skill-section-text">
                        通过在扫地机上安装水箱，可实现湿拖功能，用于提升产品性能及用户体验，提高产品市场竞争力。
                    </p>
                </div>
            </div>
        </div>
        <div class="section sj">
            <div class="main-wrap skill-section section-up">
                <div class="skill-section-wrap">
                    <h4 class="skill-section-title bl-color-_333">视觉纠偏技术</h4>
                    <p class="red-line"></p>
                    <p class="skill-section-text bl-color-_666">
                        利用视觉传感器的数据对惯性导航系统进行纠偏，提高扫地机器人定位准确度，进而提高地图创建准确性。
                    </p>
                </div>
            </div>
        </div>
        <div class="section jg">
            <div class="main-wrap skill-section section-left">
                <div class="skill-section-wrap">
                    <h4 class="skill-section-title">激光雷达升降结构</h4>
                    <p class="red-line"></p>
                    <p class="skill-section-text">
                        本技术中的激光雷达在扫地机器人使用时伸出，在停止工作时缩回，在能够精准扫描环境构建地图的同时，无损机身在家具底部的畅行，提升死角的清扫效率。
                    </p>
                </div>
            </div>
        </div>
        <div class="section aq">
            <div class="main-wrap skill-section section-up">
                <div class="skill-section-wrap">
                    <h4 class="skill-section-title bl-color-_333">安全保护装置</h4>
                    <p class="red-line"></p>
                    <p class="skill-section-text bl-color-_666">
                        本技术用于擦窗机器人在断电或者吸附力不足等异常情况下的安全保护。
                    </p>
                </div>
            </div>
        </div>
        <div class="section lj">
            <div class="main-wrap skill-section section-left">
                <div class="skill-section-wrap">
                    <h4 class="skill-section-title">路径规划技术</h4>
                    <p class="red-line"></p>
                    <p class="skill-section-text">
                        针对机器人在弓字形走过程中的角落清扫进行优化，提高机器人在角落清洁及脱困能力。
                    </p>
                </div>
            </div>
        </div>
        <div class="section sxhh">
            <div class="main-wrap skill-section section-up">
                <div class="skill-section-wrap">
                    <h4 class="skill-section-title bl-color-_333">扫吸互换技术</h4>
                    <p class="red-line"></p>
                    <p class="skill-section-text bl-color-_666">
                        扫地机器人能自动识别滚刷或吸口组件并进行对应的清洁模式进行工作，有利于提升产品的竞争力及用户体验。
                    </p>
                </div>
            </div>
        </div>
        <div class="section qy">
            <div class="main-wrap skill-section section-left">
                <div class="skill-section-wrap">
                    <h4 class="skill-section-title bl-color-white">区域划分技术</h4>
                    <p class="red-line"></p>
                    <p class="skill-section-text">
                        让扫地机器人根据房间空间设置自动划分清洁区域，提高清洁效率。
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
  $(function(){
    var video = document.getElementById("video");
    $('.video-img').click(function(){
      $(this).hide();
      $('#video').show();
      video.play();
    });
  });
</script>
<% include ./footer.ejs %>