<% include ./header.ejs %>
<link rel="stylesheet" href="<%- serve.staticPath %>/css/about_en.css">
<section class="img-text">
  <h2 class="title">
    <p>Mission</p>
    <p>Unleashing Creativity For All Human Beings</p>
  </h2>
  <span class="bl-text-sign"></span>
  <p class="desc">BONA will continue to research the field of artificial intelligence technology to liberate people from trivial housework of long input but low output. Hence, people can save more time and do more creative activities, and efficiently promoting the pluralistic development of social civilization, that is ‘Unleashing creativity for all staff’.</p>
  <div class="img-wrap border">
    <img src="<%- serve.staticPath %>/img/culture-1.png" alt="">
  </div>
</section>
<section class="img-text">
  <h2 class="title">
    <p>Vision</p>
    <p>Leader Of Future Intelligent Life Style</p>
  </h2>
  <span class="bl-text-sign"></span>
  <p class="desc">BONA takes Robot Vacuum Cleaner as the entrance and fulcrum of the industry, firmly follows the strategic product roadmap of ‘from domestic to commercial, indoor to outdoor, low speed to high speed, high frequency use to low frequency use, and constantly creates a new way of intelligent life, and be the leader of intelligent life style.</p>
  <div class="img-wrap ">
    <img src="<%- serve.staticPath %>/img/culture-2.png" alt="">
  </div>
</section>
<section class="img-text">
  <h2 class="bl-text-center"><i class="icon-1 bl-mr8"></i>Core Values</h2>
  <p class="desc center" >Core values are the beliefs that all staffs from BONA believe in and the value standards that they always adhere to</p>
  <div class="img-wrap-inbox gy bl-mt25">
    <span class="bl-text-sign"></span>
    <strong class="bl-fontsize16 bl-mt15 bl-mb6">Altruism and win-win</strong>
    <p class="bl-fontsize13">Advocate altruism, strive for all-round win-win</p>
  </div>
  <div class="img-wrap-inbox bc bl-mt15 bl-fx-ai-end">
    <span class="bl-text-sign"></span>
    <strong class="bl-fontsize16 bl-mt15 bl-mb6 bl-color-_000">Ultimate pursuits</strong>
    <p class="bl-fontsize13 bl-color-_666 bl-text-right">All masterpieces come from the ultimate pursuit of details</p>
  </div>
  <div class="img-wrap-inbox zq bl-mt15">
    <span class="bl-text-sign"></span>
    <strong class="bl-fontsize16 bl-mt15 bl-mb6">With open and breadth of mind</strong>
    <p class="bl-fontsize13">The spirit of great breadth of mind, is the demeanor for a winner</p>
  </div>
</section>

<section class="culture-ln">
  <h2 class="title">Company Philosophy</h2>
  <ul class="ln-list">
    <li>
      <strong>Customer <strong class="bl-block">philosophy</strong></strong>
      <p>Exceed customer expectations</p>
    </li>
    <li>
      <strong>Product <strong class="bl-block">philosophy</strong></strong>
      <p>Adhere to the demand-oriented product design,develop valuable product for customers</p>
    </li>
    <li>
      <strong  class="bl-block">Elite <strong class="bl-block">philosophy</strong></strong>
      <p>Pursuing valuable career with a group of ambitious people,Believe that a paid return</p>
    </li>
  </ul>
</section>
<section class="culture-slogan">
  <div class="slogan-item">
    <div class="img-wrap">
      <img src="<%- serve.staticPath %>/img/culture-7.png" alt="">
    </div>
    <h2 class="title">Enterprise Spirit</h2>
    <p class="desc bl-mt10">Struggle, Strong, Cooperation, Mercy</p>
  </div>
  <div class="slogan-item">
    <div  class="img-wrap">
      <img src="<%- serve.staticPath %>/img/culture-8.png" alt="">
    </div>
    <h2 class="title">Corporate Slogan</h2>
    <p class="desc bl-mt10">We can, so we believe</p>
  </div>
</section>

<% include ./footer.ejs %>
