<% include ./header.ejs %>
<link rel="stylesheet" href="<%- serve.staticPath %>/css/contact_en.css">
<div id="banner">
</div>
<div class="main">
    <div class="main-wrap recruit-container">
        <p class="title">Here you will get</p>
        <div class="recruit-msg">
            <ul class="bl-fl">
                <li>Young colleagues and vigorous team</li>
                <li>Clear and prompt Career development</li>
                <li>Competitive Staff Benifits and welfare</li>
                <li>Five social insurances and one housing fund</li>
            </ul>
            <ul class="bl-fl" style="border-right: none">
                <li>Transparent and efficient communication system</li>
                <li>Professional and comprehensive training mechanism</li>
                <li>Abundant Paid annual leave , alternate work with rest</li>
            </ul>
        </div>
        <p class="title-name"></p>
        <div class="position">
            <ul class="position-list">
            </ul>
        </div>
        <div class="footer-img">
            <img src="<%- serve.staticPath %>/img/contact-banner5.png" class="ban" alt="">
            <img src="<%- serve.staticPath %>/img/contact-banner8.png" class="slogan" alt="">
            <p class="bl-text-center bl-color-_999 bl-mt12">Join Bona</p>
        </div>
    </div>
</div>
<script type="text/javascript" src="<%- serve.staticPath %>/js/util/tool.js"></script>
<script type="text/javascript" src="<%- serve.staticPath %>/en/js/recruit.js"></script>
<% include ./footer.ejs %>