<% include ./header.ejs %>
<link rel="stylesheet" href="<%- serve.staticPath %>/js/swiper/swiper.min.css">
<script src="<%- serve.staticPath %>/js/swiper/swiper.min.js" ></script>
<link rel="stylesheet" href="<%- serve.staticPath %>/css/skill_en.css">
<div class="main">
    <div class="quality-container">
        <div class="section grey" style="padding-bottom: 42px;">
            <div class="main-wrap" >
                <div class="title-box"><i class="icon"></i>Quality Control System Construction</div>
                <ul class="list">
                    <li>
                        <img src="<%- serve.staticPath %>/img/skill-quality-2.png" alt="">
                        <h4>ISO 9001:2015 </h4>
                        <p>Quality Management System Certification</p>
                    </li>
                    <li style="margin: 0 12px;">
                        <img src="<%- serve.staticPath %>/img/skill-quality-3.png" alt="">
                        <h4>ISO 14001:2015 </h4>
                        <p>Environment Management System Certification</p>
                    </li>
                    <li>
                        <img src="<%- serve.staticPath %>/img/skill-quality-4.png" alt="">
                        <h4>ISO 45001:2018</h4>
                        <p>Occupational Health And Safety Management System Certification</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section" >
            <div class="title-box"><i class="icon"></i>Quality Process Control</div>
            <div class="main-wrap">
                <div class="process">
                    <div class="process-text text-wrap">
                        <h4 class="text-title">1.R&D Project Process Quality Control</h4>
                        <p class="text-content">
                            Applied APQP quality control tools which commonly used in the automobile industry, to control R&D projects, identify project risks,
                            monitor project target, time and cost. And to distinguish by four aspects of market survey, design and development, supply chain and
                            industrialization to promote project landing. Assigned DQE specially responsible for project quality control, FMEA in place and
                            other
                            tools to control project risks, to ensure project quality to achieve the required target.
                        </p>
                    </div>
                    <div class="process-wuhuan">
                        <img src="<%- serve.staticPath %>/img/skill-quality-en-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="section grey">
            <div class="main-wrap">
                <div class="text-wrap">
                    <h4 class="text-title">2.Incoming Quality Control</h4>
                    <p class="text-content">
                        To apply QDC method for key suppliers comprehensive capability assessment, set
                        appropriate purchasing strategy, strictly follow incoming quality inspection for raw material quality control, monitor supplier
                        performance, promote continuous quality improvement and ensure material quality stability.
                    </p>
                    <div class="img-box">
                        <img src="<%- serve.staticPath %>/img/skill-quality-6.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="main-wrap">
                <div class="text-wrap" style="padding-bottom: 50px;">
                    <h4 class="text-title">3.Process Quality Control</h4>
                    <p class="text-content">
                        To complete product quality control standards (e.g. CP, WI) according to customer requirements and product specifications, establish SOP
                        for each process of the product, identify key station capabilities, configure appropriate tools, and ensure the product production
                        process is under control by adopting standardized methods. To apply “three inspection system”(self-inspection, mutual inspection,
                        special
                        inspection) to control product quality, and "three inspection system" (first part inspection, patrol inspection, final inspection) to
                        verify product quality, ensure product quality is stable and reliable.
                    </p>
                    <div class="img-box">
                        <img src="<%- serve.staticPath %>/img/skill-quality-7.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div  class="section grey" style="padding-top: 0;" >
            <div class="main-wrap">
                <div class="title-box" id="test"><i class="icon"></i>Product Reliability Test</div>
                <div >
                    <div class="sub-title">Spare Parts Reliability Test</div>

                    <div id="swiper-ceshi">
                        <div class="swiper-wrapper picture-wall">
                            <ul class="swiper-slide">
                                <li class="odd">
                                    <div class="picture-wall-img bl-mb7"><img src="<%- serve.staticPath %>/img/skill-quality-8.png" alt=""></div>
                                    <div class="picture-wall-text">
                                        <p class="text-tit">Measuring Projector</p>
                                        <div class="bl-text-sign"></div>
                                        <!--<p>Measuring Projector</p>-->
                                    </div>
                                </li>
                                <li class="even">
                                    <div class="picture-wall-text bl-mb7" style="padding:  8px;">
                                        <p class="text-tit">Continuous Testing</p>
                                        <div class="bl-text-sign"></div>
                                        <p>To conduct continuous testing for new products to ensure each new product with stable performance before it goes to the
                                            market</p>
                                    </div>
                                    <div class="picture-wall-img"><img src="<%- serve.staticPath %>/img/skill-quality-9.png" alt=""></div>
                                </li>
                            </ul>
                            <ul class="swiper-slide">
                                <li class="odd">
                                    <div class="picture-wall-img bl-mb7"><img src="<%- serve.staticPath %>/img/skill-quality-13.png" alt=""></div>
                                    <div class="picture-wall-text">
                                        <p class="text-tit">Wheel Motor Life Test</p>
                                        <div class="bl-text-sign"></div>
                                        <!--<p>Wheel Motor Life Test</p>-->
                                    </div>
                                </li>
                                <li class="even bl-mr0">
                                    <div class="picture-wall-text bl-mb7">
                                        <p class="text-tit">BSEN 62929</p>
                                        <div class="bl-text-sign"></div>
                                        <p>Established BSEN 62929 international standard test room and scenario testing room</p>
                                    </div>
                                    <div class="picture-wall-img"><img src="<%- serve.staticPath %>/img/skill-quality-14.png" alt=""></div>
                                </li>
                            </ul>
                        </div>
                        <div class="ceshi-pagination"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="section baozhuang">
            <div class="main-wrap">
                <div class="title-box bl-flex bl-fx-jc-center"><i class="icon"></i> <div> Complete Product <p>Packaging Test</p></div></div>
                <ul class="baozhuang-list">
                    <li>
                        <img src="<%- serve.staticPath %>/img/skill-quality-10.png" alt="">
                        <p>Vibration Test</p>
                    </li>
                    <li>
                        <img src="<%- serve.staticPath %>/img/skill-quality-11.png" alt="">
                        <p>FCL Packaging <p>Test Drop Test</p></p>
                    </li>
                    <li class="last-child">
                        <img src="<%- serve.staticPath %>/img/skill-quality-12.png" alt="">
                        <p>Pressure Box Test</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
  $(function(){
    /* 产品可靠性测试--轮播 */
    var bannerSwiper = new Swiper ('#swiper-ceshi', {
      direction: 'horizontal',
      autoplay: {
        delay: 5000,
        disableOnInteraction: false,
      },//可选选项，自动滑动
      loop: true, // 循环模式选项
      centeredSlides: true,
      // 如果需要分页器
      pagination: {
        el: '#swiper-ceshi .ceshi-pagination',
      }
    });
  });
</script>
<% include ./footer.ejs %>
