<% include ./header.ejs %>
<link rel="stylesheet" href="<%- serve.staticPath %>/css/skill_en.css">
<div class="main">
    <div class="skill-container">
        <div class="skill-video">
            <img class="video-img" src="<%- serve.staticPath %>/img/index-play.png" alt="">
            <video id="video" autoplay="autoplay" controls="controls" loop="loop" muted webkit-playsinline="true" playsinline="true" x-webkit-airplay="allow" x5-video-player-type="h5" x5-video-player-fullscreen="true" x5-video-orientation="portraint" style="object-fit:fill">
                <source src="http://cdn-robotbona.robotbona.com/video/videoEn.mp4" type="video/mp4" />
            </video>
        </div>
        <div class="section cx">
            <div class="main-wrap">
                <div class="title">Continuous Technological <p>Iinnovation</p></div>
                <div class="text">Licensed patents are distributed around the world <p>releasing the creativity of all people</p></div>
                <ul class="patent-list">
                    <li class="border-r">
                        <div class="patent-item-wrap">
                            <div class="bl-color-red"><strong>370</strong>+</div>
                            <p>Applied for patents</p>
                        </div>
                    </li>
                    <li>
                        <div class="patent-item-wrap">
                            <div class="bl-color-red"><strong>140</strong>+</div>
                            <p>obtained patents</p>
                        </div>
                    </li>
                </ul>
                <p class="patent-desc" style="margin-top: 50px;">The authorized patents including 2 US patents, 3 EU patent, 22 Chinese invention patents and 4 Chinese Taiwan patents.</p>
            </div>
        </div>
        <div class="section kj" style="padding: 25px 4px 0;">
            <div class="main-wrap skill-section section-cen">
                <div class="skill-section-wrap">
                    <h4 class="skill-section-title bl-mb12">Easy operated robot with high and rich technology</h4>
                    <p class="skill-section-text">
                        BONA’s self-developed navigation technology combines the latest artificial intelligence technology, visual recognition and environmental perception technology,
                    </p>
                    <p class="skill-section-text">
                        greatly improving the robot's ability to scan and map, providing users with smarter home cleaning solutions.
                    </p>
                    <ul class="icon-list">
                        <li>
                            <img src="<%- serve.staticPath %>/img/skill-yanfa-icon1.png">
                            <p>Vision correction technology</p>
                        </li>
                        <li>
                            <img src="<%- serve.staticPath %>/img/skill-yanfa-icon2.png">
                            <p>Path planning technology</p>
                        </li>
                        <li>
                            <img src="<%- serve.staticPath %>/img/skill-yanfa-icon3.png">
                            <p>Water tank and related technology</p>
                        </li>
                        <li>
                            <img src="<%- serve.staticPath %>/img/skill-yanfa-icon4.png">
                            <p>Safety protection device</p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="section sx" style="padding: 35px 0;">
            <div class="main-wrap skill-section section-left">
                <div class="skill-section-wrap">
                    <h4 class="skill-section-title">Water tank technology</h4>
                    <p class="red-line"></p>
                    <p class="skill-section-text">
                        This technology can realize wet mop function by installing water tank on the robot vacuum cleaner,  which is used to improve product performance and user experience and enhance product market competitiveness.
                    </p>
                </div>
            </div>
        </div>
        <div class="section sj">
            <div class="main-wrap skill-section section-up" style="top: -160px;">
                <div class="skill-section-wrap">
                    <h4 class="skill-section-title bl-color-_333">Visual Technology</h4>
                    <p class="red-line"></p>
                    <p class="skill-section-text bl-color-_666">
                        Base on the data of Visual Mapping sensors, it can provide the accurate positioning of robot, and can create the precise mapping within its system.
                    </p>
                </div>
            </div>
        </div>
        <div class="section jg">
            <div class="main-wrap skill-section section-left">
                <div class="skill-section-wrap">
                    <h4 class="skill-section-title">Lidar lifting structure</h4>
                    <p class="red-line"></p>
                    <p class="skill-section-text">
                        The lidar pop-up when the sweeper is running and pinch in when it stops working. The lidar scan and map the environment accurate, sweeping smoothly at the bottom of the furniture but without hurt host itself, that improves the cleaning efficiency of the blind angle greatly.
                    </p>
                </div>
            </div>
        </div>
        <div class="section aq">
            <div class="main-wrap skill-section section-up">
                <div class="skill-section-wrap">
                    <h4 class="skill-section-title bl-color-_333">Safety Lock Technology</h4>
                    <p class="red-line"></p>
                    <p class="skill-section-text bl-color-_666">
                        This technology can ensure the security of using under some kind of emergency situation such as power failure.
                    </p>
                </div>
            </div>
        </div>
        <div class="section lj">
            <div class="main-wrap skill-section section-left">
                <div class="skill-section-wrap">
                    <h4 class="skill-section-title">Gyro Mapping Technology</h4>
                    <p class="red-line"></p>
                    <p class="skill-section-text">
                        With the gyro mapping technology, the robot performance for zig-zag cleaning and corner cleaning can be optimized. The cleaning efficiency is highly improved as our machine can record the cleaned area and avoid repetitive cleaning.
                    </p>
                </div>
            </div>
        </div>
        <div class="section sxhh" style="margin-top: 250px;">
            <div class="main-wrap skill-section section-up" style="top: -225px; width: 83%;">
                <div class="skill-section-wrap">
                    <h4 class="skill-section-title bl-color-_333">Interchangeable Rolling Brush and Vacuum Nozzle</h4>
                    <p class="red-line"></p>
                    <p class="skill-section-text bl-color-_666">
                        The cleaning robot can automatically identify the rolling brush or vacuum nozzle attachment and apply the corresponding cleaning mode, which improve the competitiveness of products and provides better user experience.
                    </p>
                </div>
            </div>
        </div>
        <div class="section qy">
            <div class="main-wrap skill-section section-left">
                <div class="skill-section-wrap">
                    <h4 class="skill-section-title bl-color-white">Cleaning Zone Selection - Laser Mapping</h4>
                    <p class="red-line"></p>
                    <p class="skill-section-text">
                        With the laser mapping technology, you can set up target cleaning zone and forbidden area for the robot to maximum the cleaning efficiency and achieve intelligent control.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
  $(function(){
    var video = document.getElementById("video");
    $('.video-img').click(function(){
      $(this).hide();
      $('#video').show();
      video.play();
    });
  });
</script>
<% include ./footer.ejs %>
